<h1><%= @room.dig("attributes", "name") || "房间详情" %></h1>

<dl>
  <dt>房间名称</dt>
  <dd><%= @room.dig("attributes", "name") %></dd>
  <dt>类型</dt>
  <dd><%= @room.dig("attributes", "room_type") %></dd>
</dl>

<h2>消息</h2>
<% if @messages.any? %>
  <ul>
    <% @messages.each do |msg| %>
      <li>
        <strong><%= msg.dig("attributes", "sender_id") %>:</strong>
        <%= msg.dig("attributes", "content") %>
        <small><%= msg.dig("attributes", "timestamp") %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>暂无消息</p>
<% end %>

<%= link_to "返回", rooms_path %>
