<h1>用户列表</h1>

<%= link_to "新建用户", new_user_path %>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.dig("attributes", "nickname") || user.dig("attributes", "username") || "未知" %>
      <%= link_to "查看", user_path(user["id"]) %>
      <%= link_to "编辑", edit_user_path(user["id"]) %>
      <%= button_to "删除", user_path(user["id"]), method: :delete, data: { confirm: "确定删除？" } %>
    </li>
  <% end %>
</ul>
